.chat-header.clearfix
  .chat-header__left
    %h2
      = @chat_group.name
    %p.chat-header__users
      Members:
      %span.chat-header__users
        - @chat_group.users.each do |user|
          = user.name
  .chat-header__right
    = link_to  "Edit",edit_chat_group_path(@chat_group),class:"chat-header__edit-btn"
