.chat
  .chat-side
    .chat-user.clearfix
      %h5
        %b
          =current_user.name
      .chat-user__actions
        =link_to "/chat_groups/new",class: "chat-user__action" do
          %i.fa.fa-pencil-square-o
        =link_to "/users/edit", class: "chat-user__action" do
          %i.fa.fa-cog
    %ul.chat-groups
      %li.chat-group
        - @chat_groups.each do |chat_group|
          .chat-group__link
            =link_to "/chat_groups/#{chat_group.id}/messages",class: "chat-group__name" do
              =chat_group.name
            .chat-group__message
              - if chat_group.messages.present?
                =chat_group.messages.first.body
              - else
                %p
                  まだメッセージはありません。
