.chat
  .chat-side
    .chat-user.clearfix
      %h5
        %b
          =current_user.name
      .chat-user__actions
        %a.chat-user__action(href = "chat_groups/new")
          %i.fa.fa-pencil-square-o
        %a.chat-user__action(href = "users/edit")
          %i.fa.fa-cog
    %ul.chat-groups
      %li.chat-group
        - @chat_groups.each do |chat_group|
          .chat-group__link
            %a.chat-group__name(href = "/chat_groups/#{chat_group.id}/messages/new")
              =chat_group.name
            .chat-group__message
              - if chat_group.messages.present?
                =chat_group.messages.first.body
              - else
                %p
                  まだメッセージはありません。
