.chat
  .chat-side
    .chat-user.clearfix
      %h5
        %b
          =current_user.name
      .chat-user__actions
        %a.chat-user__action(href = "chat_groups/new")
          %i.fa.fa-pencil-square-o
        %a.chat-user__action(href = "users/edit")
          %i.fa.fa-cog
    %ul.chat-groups
      %li.chat-group
        %a.chat-group__link(href = "")
          - @chat_groups.each do |chat_group|
            -if current_user.chat_groups.present?
              .chat-group__name
                =current_user.chat_group.name
              .chat-group__message
                =current_user.chat_group.body.first
            -else
              .chat-group__name
              .chat-group__message