.chat
  .chat-side
    .chat-user.clearfix
      %h5
        %b
          =current_user.name
      .chat-user__actions
        %a.chat-user__action(href = "chat_groups/new")
          %i.fa.fa-pencil-square-o
        %a.chat-user__action(href = "users/edit")
          %i.fa.fa-cog
    %ul.chat-groups
      %li.chat-group
        %a.chat-group__link(href = "")
          - @chat_groups.each do |chat_group|
            .chat-group__name
              =chat_group.name
            .chat-group__message
              - @messages.each do |message|
                =chat_group.message.body
