.chat
  .chat-side
    .chat-user.clearfix
      %h5
        %b
          test_name
      .chat-user__actions
        %a.chat-user__action(href="")
          %i.fa.fa-pencil-square-o
        %a.chat-user__action(href="users/edit")
          %i.fa.fa-cog
    %ul.chat-groups
      %li.chat-group
        %a.chat-group__link(href="")
          %p.chat-group__name
            test_group_name
          %p.chat-group__message
            test

  .chat-main
    .chat-header.clearfix
      .chat-header__left
        %h2
          test_group_name
        %p.chat-header__users
          Members:
          %span.chat-header__users
            test_name
      .chat-header__right
        %a.chat-header__edit-btn(href="")
          Edit
    .chat-body
      %ul.chat-message
        %li.chat-message__header
          %p.chat-message__name
            test_name
          %p.chat-message__time
            2016/11/16
        %li.chat-message__body
          test
    .chat-footer
      .form.new-message
        .chat-footer-text
          %textarea(row="1" placeholder="type a message")

          %label.chat-footer-file
            %i.fa.fa-image
          %input(type="submit" value="Send")
