.chat-side{
  float:left;
  width:300px;
  height:100%;
  background-color:#2f3e51;
  .chat-user{
    height:100px;
    background-color:#253141;
    color:#FFFFFF;
    h5{
      font-size:16px;
      line-height:60px;
      margin:20px 20px;
      float:left;
    }
    .chat-user__actions{
      float:right;
      margin:20px;
      .chat-user__action{
        display:inline-block;
        margin:15px 0 15px 3px;
        line-height:28px;
        color:#FFFFFF;
        font-size: 20px;
      }
    }
  }
}


