.chat-body{
  position:relative;
  padding:46px 40px 0;
  height:calc(100% - 190px);
  .chat-message{
    height:80px;
    .chat-message__header{
      @include clearfix();
      .chat-message__name{
        display:inline-block;
        font-weight: 600;
        float:left;
        font-size:16px;
      }
      .chat-message__time{
        padding-top:3px;
        display:inline-block;
        float:left;
        margin-bottom:10px;
        margin-left:10px;
        font-size:12px;
        color:#999999;
      }
    }
    .chat-message__body{
      font-size:14px;
    }
  }
}